<p id="notice"><%= notice %></p>

<h1>User Allergens</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_allergens.each do |user_allergen| %>
      <tr>
        <td><%= link_to 'Show', user_allergen %></td>
        <td><%= link_to 'Edit', edit_user_allergen_path(user_allergen) %></td>
        <td><%= link_to 'Destroy', user_allergen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Allergen', new_user_allergen_path %>
